@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

/* start: global styles */
body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}

* {
    outline: none;
}

*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    color: #f69314;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.2rem;
    font-weight: 300;
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

h5 {
    font-size: 1rem;
    font-family: "Playfair Display", serif;
}

p {
    margin: 0 0 1rem;
}

button.rounded {
    background: #f69314;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
}

p.large.paragraph {
    font-size: 1.25rem;
    font-weight: 300;
}
/* end: global styles */

/* start: header styles */
#header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
}

header {
    background: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#logo {
    width: 100px;
    height: 40px;
    position: relative;
    top: 4px;
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
    color: #f69314;
}

#User {
    font-size: 25px; 
    margin-top: 10px; 
    margin-right: 55px;
}

/* end: header styles */

/* start: hero section styles */
#hero {
    background: url('../Img/hero.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#hero .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(52, 58, 64, 0.548);
    z-index: 1;
}

#hero .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #fff;
    width: 500px;
    text-align: center;
}

#hero .hero-text p {
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1rem;
}
/* end: hero section styles */

/* start: media queries */
@media (max-width: 991px) {
    #logo {
        top: 1px;
    }

    #nav-toggle {
        display: block;
    }

    nav ul {
        position: fixed;
        background: #fff;
        right: -100%;
        top: 0;
        margin: 0;
        padding: 2rem;
        height: 100%;
        width: 300px;
        box-sizing: border-box;
        box-shadow: 5px 0 10px 3px #999;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li:first-child {
        margin-top: 50px;
    }
    nav ul li a {
        font-size: 20px;
        color: #212529;
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: #f69314;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .large-paragraph {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .container {
        max-width: 540px;
    }

    #hero .hero-text {
        width: 400px;
    }

    #agents .card {
        width: 49%;
    }

    #the-best .flex > img {
        display: none;
    }

    #the-best .flex > div {
        width: 100%;
    }

    #testimonials-slider p {
        font-size: 1.2rem;
    }

    #properties .container:before {
        top: 2px;
        font-size: 0.85rem;
    }

    #properties-slider a.slick-arrow {
        font-size: 0.85rem;
    }

    #properties button.rounded {
        width: 300px;
    }

    #services .flex > div {
        width: 48%;
    }

    #contact .flex {
        flex-wrap: wrap;
    }

    #form-container {
        width: 100%;
        padding: 2rem;
    }

    #address-container {
        width: 100%;
        margin-top: 2rem;
    }

    footer {
        padding: 6rem 0;
    }

    footer .flex {
        flex-wrap: wrap;
    }

    footer .flex > div {
        width: 100%;
        margin-top: 1rem;
    }

    footer .flex > div:first-child {
        margin-top: 0;
    }

    footer .footer-about p {
        font-size: 1rem;
        width: 100%;
    }

    footer .footer-subscribe input {
        width: 90%;
    }

    footer h5.follow-us {
        margin-top: 2rem;
    }
}

@media (max-width: 500px) {
    #hero .hero-text {
        width: 330px;
    }

    #agents {
        margin: 4rem 0 3rem;
        padding: 0 0 3rem;
    }

    #agents .card {
        width: 100%;
    }

    #agents p.large-paragraph {
        width: 100%;
    }

    #how-it-works .flex {
        display: block;
    }

    #how-it-works .flex > div {
        width: 100%;
        margin-top: 2rem;
    }

    #properties button.rounded {
        width: 250px;
    }

    #services {
        padding: 4rem 0 3rem;
        margin: 4rem 0;
    }

    #services .flex > div {
        width: 100%;
    }

    #testimonials {
        margin-bottom: 4rem;
    }

    #testimonials-slider p {
        font-size: 1rem;
    }

    #testimonials-slider .slick-arrow {
        display: none !important;
    }

    #contact {
        padding: 4rem 0;
    }

    #contact h2 {
        margin-bottom: 2rem;
    }

    #form-container {
        padding: 1.5rem;
    }

    footer {
        padding: 4rem 0;
    }
}

@media (max-width: 400px) {
    #hero .hero-text {
       max-width: 275px;
       width: 100%;
    }
    
    #properties button.rounded {
       max-width: 250px;
       width: 100%;
    }
    
    nav ul {
      width: 200px;
    }
  }
  /* end: media queries */